{% extends 'base.html' %}

{% block content %}
{% for product in products %}
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Name: <a href="{% url 'product_view' product.pk %}">{{ product.name }}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">Price: {{ product.price }}</h6>
    <p class="card-text">Category: {{ product.get_category_display }}</p>
    <a href="{% url 'update_product' product.pk %}" class="card-link">Update</a>
    <a href="{% url 'delete_product' product.pk %}" class="card-link">Delete</a>
  </div>
</div>
    {%  endfor %}


{%  endblock %}