{%  extends 'base.html' %}
{% block content %}
    <h3 style="text-align: center">Инфо товара</h3>
    <table class="table">
  <thead>
    <tr>

      <th scope="col"><i>Name:</i> </th>
      <th scope="col"><i>Description:</i></th>
      <th scope="col"><i>Category:</i></th>
        <th scope="col"><i>Remain: </i></th>
        <th scope="col"><i>Price:</i></th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td><b>{{ product.name }}</b></td>
      <td> <b>{{ product.description }}</b> </td>
        <td> <b>{{ product.category }}</b></td>
        <td> <b>{{ product.remain }}</b></td>
        <td> <b>{{ product.price }}</b></td>
    </tr>
    <tr>



  </tbody>
</table>

{#    <i>Name:</i> <b>{{ product.name }}</b>#}
{#    <br>#}
{#    <i>Description:</i> <b>{{ product.description }}</b>#}
{#    <br>#}
{#    <i>Category:</i> <b>{{ product.category }}</b>#}
{#    <br>#}
{#    <i>Remain: </i><b>{{ product.remain }}</b>#}
{#    <br>#}
{#    <i>Price:</i> <b>{{ product.price }}</b>#}
{#    <br>#}
    <button ><a href="{% url 'UpdateProduct' product.pk %}" style="text-decoration: none;color: chocolate">Update Product</a> </button>
    <br><br>
    <button ><a href="{% url 'DeleteProduct' product.pk %}" style="text-decoration: none;color: red">Delete Product</a> </button>
    <br><br>
    <button ><a href="{% url 'add_in_basket' product.pk %}" style="text-decoration: none; color: darkorchid">Add in Basket</a> </button>
{#    <a href="{% url 'UpdateProduct' product.pk %}">Update</a>#}
{#    <br>#}
{#    <a href="{% url 'DeleteProduct' product.pk %}">Delete</a>#}
{#    <br>#}
{#    <a href="{% url 'add_in_basket' product.pk %}">Add</a>#}
    <br><br>
        <form action="{% url 'add_in_basket' product.pk %}" method="POST">
{%  include 'partial/form.html' with button='Добавить'%}



        </form>


{% endblock %}
