{%  extends 'base.html' %}
{% block content %}
    <i>Name:</i> <b>{{ product.name }}</b>
    <br>
    <i>Description:</i> <b>{{ product.description }}</b>
    <br>
    <i>Category:</i> <b>{{ product.category }}</b>
    <br>
    <i>Remain: </i><b>{{ product.remain }}</b>
    <br>
    <i>Price:</i> <b>{{ product.price }}</b>
    <br>
    <a href="{% url 'UpdateProduct' product.pk %}">Update</a>
    <br>
    <a href="{% url 'DeleteProduct' product.pk %}">Delete</a>
    <br>
    <a href="{% url 'add_in_basket' product.pk %}">Add</a>


{% endblock %}
